<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>IntroDemo-BlackCAPS.ttf</string>
		<string>IntroDemo-BlackInlineCAPS.ttf</string>
		<string>IntroDemoCond-BlackCAPS.ttf</string>
		<string>IntroDemoCond-LightCAPS.ttf</string>
		<string>RubikGlitch-Regular.ttf</string>
		<string>Inconsolata-Regular.ttf</string>
		<string>Inconsolata-Black.ttf</string>
	</array>
</dict>
</plist>
